body {
    background-color: lavender;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid black;
}

dt {
    padding: 1rem;
    background-color: white;
    font-weight: bold;
}

dd {
    padding: 1rem;
}

a
{
    display: block;
    margin: auto;
    text-align: center;
    padding: 1rem;
}