/* Mobile Styles */
:root {
  --primary-color: #ecd7b6;
  --secondary-color: #fad8a3;
  --tertiary-color: #f3c57c;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--tertiary-color);
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: #fdfdfd;
  padding: 1rem;
}

#pageheader {
  background-color: black;
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images2/gorgo.jpg);
  width: 13.25rem;
  height: 13.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: 5px solid none;
  margin: auto;
  transition: all 2s;
  border-radius: 50%;
}

#pageheader .container {
  min-height: auto;
  background-image: url(Images2/dino002.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#pageheader nav ul li {
  border: 2px solid silver;
  padding: 1rem;
  margin: 2px;
  background-color: white;
}

#pageheader nav ul li:hover {
  background-color: aliceblue;
}

#media {
  background-color: lightblue;
  /* min-height: 10rem; */
  height: 80vh;
  background-position: center center;
  padding: 1rem;
  background-image: url(Images2/bggorgo.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
}
#career {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: rgb(131, 173, 225);
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}

#demos {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: black;
  min-height: auto;
  padding: 1rem;
}

#pagefooter .container {
  background-color: white;
  min-height: auto;
  text-align: center;
}

#aifooter {
  padding: 1rem;
  background-color: #f3c57c;
  min-height: auto;
}

#aifooter .container {
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid black;
  background-color: black;
  display: block;
  margin: auto;
}

/* Tablet View */

@media screen and (min-width: 650px) {
  #pageheader nav ul {
    margin-top: 2rem;
  }

  #logo {
    margin: 0;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: rgb(105, 150, 205);
  }
}

/* Desktop View */

@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(80, 153, 242);
  }
}

.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}
