:root
{
--color-primary: #A90201;
/* ---color-secondary: #CAA948; */
/* --color-tertiary: #D4D2D3; */
--font-primary: inherit;
--color-a:#D50019;
--color-b:#D4D3D7;
}

html{
    scroll-behavior: smooth;
    background-color: #160821;
}

body{
font-family: inherit;
padding: 0;
margin: 0;
}

.container {
background-color:transparent;
min-height: 10rem;
max-width: 120rem;
padding: 1rem 3rem 1rem 3rem;
margin: auto;
}

#pageheader {
background-color: rgb(0, 0, 0);
border: 6px solid #6363C7;
background-image: url(Images/heartArt.png);
background-repeat: no-repeat;
background-size: contain;
background-position-x:right;
min-height: 200px;
padding: 1rem;
}

#pagenav {
background-color: rgb(34, 11, 45);
background-image: url(Images/snakebg5.png);
background-size:contain;
background-repeat: no-repeat;
background-position-x: left;
min-height: 30px;
padding: 1rem;
text-align: center;
color: var(---color-secondary);
}

#logo {
background-color: #000000;
width: 150px;
height: 150px;
border-radius: 50%;
background-size: contain;
background-image: url(Images/snakelogo.png);
background-size: cover;
border: 5px solid rgb(210, 0, 0);
position: absolute;
left: calc(50% - 75px);
transition: all 2s;
}

#media {
background-color: rgb(230, 210, 173);
min-height: 300px;
padding: 1rem;
background-image:url(Images/snakebg8.png);
background-size: cover;
background-position:center;
transition: all 2s;
font-family: fantasy;
}

#career {
background-color: aqua;
background-image: url(Images/snakebg4.png);
background-repeat: no-repeat;
background-size: contain;
background-position-x: right;
min-height: 200px;
padding: 1rem;
font-family: fantasy;
}

#Introduction {
background-color: #000000;
background-image: url(Images/redrose.png);
background-size: contain;
background-repeat: no-repeat;
background-position: 300px;
min-height: 200px;
padding: 1rem;
font-family: fantasy;
}

#semester1 {
background-color: rgb(14, 21, 40);
min-height: 200px;
padding: 1rem;
font-family: fantasy;
background-image: url(Images/snakebg12.png);
background-repeat: no-repeat;
background-size: contain;
background-position: 400px;
background-position-x: right;
}

#Semester2 {
background-color: rgb(24, 33, 48);
min-height: 200px;
padding: 1rem;
font-family: fantasy;
background-image: url(Images/snakebg3.png);
background-repeat: no-repeat;
background-size: contain;
background-position: 300px;
}

#Demos {
    background-color: #160821;
    background-image: url(Images/snakebg13.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    min-height: 200px;
    padding: 1rem;
    font-size: large;
    font-family: fantasy;
    
}

#Projects
{
    background-color: rgb(0, 0, 0);
    min-height: 200px;
background-image: url(Images/snakebg10.png);
background-size: contain;
background-repeat: no-repeat;
background-position-x: right;
    padding: 1rem;
    font-size: large;
    font-family: fantasy;
}




#pagefooter {
background-color: #28083c;
background-image: url(Images/snake6.png);
background-repeat: no-repeat;
background-size: contain;
background-position-x: left;
min-height: 200px;
padding: 1rem;
text-align: center;
}


#keysassignments{
    background-color: rgb(14, 4, 4);
    font-family: fantasy;
    min-height: 200px;
    padding: 1rem;
    text-align: center;
    font-family: fantasy;
}


#subfooter {
background-color: #160821;
min-height: 200px;
padding: 2rem;
/* background-image: url(Images/snakebg13.png); */
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
}

#topanchor
{
height: 25px;
width: 25px;
padding: 1rem;
border: 2px solid #6363C7;
border-radius: 50%;
position: fixed;
right: 20px;
bottom: 20px;
background-color: #140e37;
}



#footerlinks{
    display: none;
    min-width: 200px;
    font-family: fantasy;
}

#blockquote
{
    font-family: fantasy;
}

a{
    color: #e6007b;
    font-family: fantasy;
}

li{
    color: white;
    font-family: fantasy;
}

h2{
    color: white;
    font-family: fantasy;
}

h3
{
    color: #e6007b;
    text-align: right;
}

header
{
color: #e6007b;
}

p
{
color: #e6007b;
}

option
{
    color: #e6007b;
    border: 5px solid #e6007b;
}

select
{
    color: #e6007b;
    border: 3px solid #e6007b;
    background-color: #160821;
}

button
{
color: #e6007b;
border: 3px solid #e6007b;
background-color: #160821;
}

@media screen and (min-width:321px)
{
#career{
    background-color: rgb(71, 23, 71);
}
}

@media screen and (min-width:480px)
{
#career{
    background-color: #151228;
}
}

@media screen and (min-width:768px)
{
#career{
    background-color: #000b43;
}
#footerlinks{
    display: flex;
    justify-content: space-between;
}
#footerlinks{
    display: block;
    width: 250px;
}
}

@media screen and (min-width:1024px)
{
#career{
    background-color: #120725;
}
#logo
{
    left: 25px;
}

}

@media screen and (min-width:1200px)
{
#career{
    background-color: #050c23;
}
#media 
{
height: 600px;
}

#Demos
{
    border: 6px solid rgb(40, 40, 89);
}

}

h1,h2,p,header,li,a,button,option,select {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}


